* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
    --app-height: 100dvh;
    --menu-height: 70px;
    --header-height: 40px;
    --page-padding: 30px;
}

#root {
    height: var(--app-height);
}

@media (max-width: 768px) {
    :root {
        --page-padding: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 1.7rem;
}
